@import 'variables'
@import 'scrollbar'
@import 'social'
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap')

*
    margin: 0
    padding: 0
    box-sizing: border-box

body
    padding-right: 10% !important
    padding-left: 10% !important

#cuerpo
    display: grid
    grid-template: 1fr / 1fr 155px
    gap: 18px

    height: calc( 100vh - 6.5rem - 45px )

    border-radius: 50px
    border: 10px solid rgb(214, 214, 214)
    box-shadow: 30px 3px 0 rgb(165, 165, 165)
    background-image: url(../media/img/ebano.jpg)

    overflow: hidden

    padding-left: 38px 

    z-index: 1

    #pantallaExterior
        border-radius: 25px
        border: 5px solid rgb(214, 214, 214)
        box-shadow: 5px 5px 4px rgb(0, 0, 0)

        background-color: black

        padding: 20px 15px

        #pantalla
            height: 100%

            border-radius: 30px / 50%
            box-shadow: inset 0 0 100px rgb(0, 0, 0)

            background-image: url(../media/img/ruido.jpg)

    #contenedorMenu
        border-top-left-radius: 8px
        border-bottom-left-radius: 8px
        box-shadow: inset 2px 2px 5px rgb(75, 75, 75)

        background: black url(../media/img/fondoBotonera.jpg)

#pie
    height: 37px

    font-family: 'Orbitron', sans-serif

    border-radius: 10px
    box-shadow: 6px 3px 0 rgb(165, 165, 165)

    p
        font-weight: bolder
        color: white

        margin-bottom: 0

    li
        margin-top: -3px
        margin-right: 10px

@import 'media'