@import 'media'
@import 'variables'
@import 'scrollbar'
@import 'social'
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap')

*
    margin: 0
    padding: 0
    box-sizing: border-box

#cuerpo
    display: grid
    grid-template: 1fr / 1fr 155px

    border-radius: 15px

    #contenedorTarjetas, #contenedorMenu
        border-radius: 15px

#pie
    font-family: 'Orbitron', sans-serif

    border-radius: 10px

    p
        font-weight: bolder
        color: white

        margin-bottom: 0

    li
        margin-right: 10px
