@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap");
::-webkit-scrollbar-thumb {
  background-color: darkgray;
  border: 4px solid transparent;
  border-radius: 8px;
  background-clip: padding-box;
}
::-webkit-scrollbar-thumb ::-webkit-scrollbar {
  width: 16px;
}

.social-icons {
  display: flex;
  justify-content: end;
  align-items: center;
  list-style: none;
  margin-bottom: 0;
}
.social-icons a {
  background-color: #eceeef;
  color: #818a91;
  font-size: 24px;
  display: inline-block;
  line-height: 44px;
  width: 44px;
  height: 44px;
  text-align: center;
  border-radius: 100%;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
  color: #fff;
}

a.facebook:hover,
a.facebook:active,
a.facebook:focus {
  background-color: #3b5998;
}

a.twitter:hover,
a.twitter:active,
a.twitter:focus {
  background-color: #00aced;
}

a.trello:hover,
a.trello:active,
a.trello:focus {
  background-color: #0079BF;
}

a.linkedin:hover,
a.linkedin:active,
a.linkedin:focus {
  background-color: #007bb6;
}

a.github:hover,
a.github:active,
a.github:focus {
  background-color: black;
}

@-webkit-keyframes sdb07 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes sdb07 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Orbitron", sans-serif;
}

body {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#cuerpo {
  display: grid;
  grid-template: 1fr/1fr 155px;
  gap: 18px;
  height: calc(100vh - 6.5rem - 45px);
  max-height: 770px;
  width: 100%;
  border-radius: 50px;
  border: 10px solid rgb(214, 214, 214);
  box-shadow: 30px 3px 0 rgb(165, 165, 165);
  background-image: url(../media/img/ebano.jpg);
  overflow: hidden;
  padding-left: 38px;
  z-index: 1;
}
#cuerpo #pantallaExterior {
  border-radius: 25px;
  border: 5px solid rgb(214, 214, 214);
  box-shadow: 5px 5px 4px rgb(0, 0, 0);
  background-color: black;
  padding: 20px 15px;
}
#cuerpo #pantallaExterior #pantalla {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  border-radius: 30px/50%;
  box-shadow: inset 0 0 100px rgb(0, 0, 0);
  background-image: url(../media/img/programming.gif);
  background-color: #BCCCFE;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center -45%;
}
#cuerpo #pantallaExterior #pantalla #presentacion {
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  padding: 10px 20px;
}
#cuerpo #pantallaExterior #pantalla #presentacion h2:nth-child(1) {
  position: relative;
  display: inline-block;
  font-weight: 500;
}
#cuerpo #pantallaExterior #pantalla #presentacion h2:nth-child(1) #nombre {
  color: red;
  font-size: 50px;
}
#cuerpo #pantallaExterior #pantalla #presentacion h2:nth-child(1) .superindice {
  position: absolute;
  right: 0;
  top: -8px;
  color: rgb(201, 81, 81);
  font-size: 25px;
}
#cuerpo #pantallaExterior #pantalla #textoFlecha {
  position: absolute;
  top: 10px;
  right: 65px;
}
#cuerpo #pantallaExterior #pantalla #textoFlecha #flecha {
  position: absolute;
  top: 60%;
  right: 5px;
  transform: rotate(-45deg);
}
#cuerpo #pantallaExterior #pantalla #textoFlecha #flecha span {
  position: absolute;
  top: 0px;
  left: 50%;
  width: 24px;
  height: 24px;
  border-left: 4px solid red;
  border-bottom: 4px solid red;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb07 2s infinite;
  animation: sdb07 2s infinite;
  opacity: 0;
  margin-left: -12px;
}
#cuerpo #pantallaExterior #pantalla #textoFlecha #flecha span:nth-of-type(1) {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}
#cuerpo #pantallaExterior #pantalla #textoFlecha #flecha span:nth-of-type(2) {
  top: 16px;
  -webkit-animation-delay: 0.15s;
  animation-delay: 0.15s;
}
#cuerpo #pantallaExterior #pantalla #textoFlecha #flecha span:nth-of-type(3) {
  top: 32px;
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
#cuerpo #contenedorMenu {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  box-shadow: inset 2px 2px 5px rgb(75, 75, 75);
  background: black url(../media/img/fondoBotonera.jpg);
}

#pie {
  height: 37px;
  width: 100%;
  border-radius: 10px;
  box-shadow: 6px 3px 0 rgb(165, 165, 165);
}
#pie p {
  font-weight: bolder;
  color: white;
  margin-bottom: 0;
}
#pie li {
  margin-top: -3px;
  margin-right: 10px;
}/*# sourceMappingURL=main.css.map */